* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, white, #ffe6e1); */
    background: linear-gradient(45deg, #fdefef, white);
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    background-color: transparent;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 15px;
}

#main-title {
    color: #ff9696;
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    text-align: center;

    margin: 40px;
}

#down-arrow {
    width: 20%;
    align-self: center;
}

#cestas {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-section {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* Product Description Styles */
.description {
    width: 100%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.description-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.text,
.items {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
}

.title {
    color: #ff9696;
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.price {
    color: #ff9696;
    font-size: 20px;
    text-align: end;
    font-family: "Playfair", monospace;
}

.cream-line {
    width: 100%;
    height: 2px;
    background-color: #ffd5ce;
    margin-top: 10px;
}

/* Image Gallery */
.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.main-frame {
    width: 100%;
    aspect-ratio: 3 / 4; /* Fix the aspect ratio to 3:4 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will ensure the image fills the container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(
        -50%,
        -50%
    ); /* Center the image vertically and horizontally */
}

/* Thumbnails: 1:1 Aspect Ratio */
.thumbnail-container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.thumbnail-container .selected {
    border: 2px solid #ffadbf;
}

.thumb-frame {
    width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid transparent; /* Invisible rounded border */
}

#end {
    margin: 0 auto;
    display: grid;
    width: 85%;
    height: 100vh;
    padding: 10px 0;

    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}

#end h3 {
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 2px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    margin: -30px 0 40px;
    padding: 7px 15px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#end .button {
    margin: 10px 0 0;
}

.button span {
    font-size: 13px;
}

.button img {
    display: inline;
    filter: invert(100%) sepia(100%) saturate(300%) hue-rotate(180deg);
    height: 17px;
    width: 17px;
    overflow: visible;
}

.button:hover {
    background-color: #45a049;
}

#footer {
    text-align: center;
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 20px;
}

/* Modal styles */
.image-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* On top of overlay */
}

.full-image {
    width: auto;
    height: auto;
    max-width: 85vw;
    max-height: 90vh;
}

/* Overlay styles */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000; /* Below modal but above everything else */
}

#extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 20px;
}

.extras-line {
    justify-content: space-evenly;
    display: flex;
}

.extras-container {
    width: 35%;
}

.extras-container .title {
    font-size: 20px;
}

.extras-container img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.item-name {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

hr {
    border-color: #aaa;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Media Queries */
@media only screen and (min-width: 1009px) {
    .title {
        font-size: 40px;
    }

    .text {
        font-size: 20px;
    }

    .items {
        font-size: 18px;
    }

    .section {
        flex-direction: row;
        gap: 6vw;
    }

    .image-gallery {
        flex: 1;
    }

    .description {
        width: 45%;
    }

    .product-section {
        width: 60vw;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 35px;
        margin-bottom: 70px;
    }

    .extras-container .title {
        font-size: 30px;
    }
}
