* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    border-radius: 15px;
}

.description {
    width: 85%;
    margin: 0 auto;
    padding: 3% 0 50px;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(23, 1fr);
}

.section {
    height: auto;
    padding: 20px 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-header {
    grid-area: 1 / 1/ 4 /-1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.description-header-text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.text {
    grid-area: 5/ 1/ 13/13;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 10px;
}

.items {
    grid-area: 5/ 14/ 13/-1;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

.title {
    flex: 20;
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.price {
    flex: 3;
    font-size: 23px;
    text-align: end;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.red-line {
    width: 100%;
    border-bottom: 1px solid #9d042d;
}

.cream-line {
    width: 100%;
    border-bottom: 1px solid #fff1dd;
}

.cream-background {
    background: url(img/noise.png) repeat; /* Set the background image and set it to repeat */
    background-color: #fff1dd;
    height: auto;
    padding: 10px 0 10px; /* Adjusted padding */
    color: #9d042d;
    background-size: 50px; /* Set the size of the background image */
}

.red-background {
    background: linear-gradient(-45deg, #fff1dd, rgb(233, 170, 24, 0.3));
    background-color: #9d042d;
    background: url(img/noise.png),
        radial-gradient(
            at right top,
            rgba(207, 3, 91, 1),
            rgba(158, 5, 46, 0.6)
        ),
        radial-gradient(at left center, rgb(207, 3, 3), rgba(157, 4, 45, 1));
    background-size: 300px, 100%, 100%;
    height: auto;
    padding: 10px 0 10 px;
    color: #fff1dd;
}

#cover {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(9, 1fr);
}

#flower1 {
    height: 65vw;
    width: 65vw;
    margin-top: -15vw;
    margin-left: -20vw;
    grid-area: 1/1/4/3;
}
#flower2 {
    align-self: end; /* Align the item to the end vertically */
    justify-self: end; /* Align the item to the end horizontally */
    height: 60vw;
    width: 60vw;
    margin-right: -20vw; /* Adjust margin if needed */
    margin-bottom: -30vw; /* Adjust margin if needed */
    grid-area: -4/2/-2/-1; /* Define grid area if needed */
}

#down-arrow {
    width: 100%;
    grid-area: 9/2/-1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#down-arrow img {
    width: 5%;
}

#main-title {
    grid-area: 5/2/6/3;
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-size: 10vw;
    padding-bottom: 2px;
    text-align: center;
}

#dictionary {
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 20vw 0;
}

#dictionary div {
    grid-area: 2/2/3/3;
    display: flex;
    align-items: baseline;
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-size: 10vw;
}

#dictionary h2 {
    font-weight: 400;
    font-size: 10vw;
}
#dictionary div p {
    font-weight: 400;
    font-size: 9vw;
}

#caixote .images {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(29, 1fr);
    grid-auto-flow: column;
}

#caixote #thumbnails {
    grid-area: 1/-5/-1/-1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 3%;
}

#caixote .images > img {
    grid-area: 1/1/-1/-6;
}

#bolsa .images {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 7fr 1fr;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.arrow#left {
    grid-area: 1/1/2/2;
}
.arrow#right {
    grid-area: 1/-2/2/-1;
}

#bolsa #main {
    grid-area: 1/1/2/-1;
}

#selector-lines {
    grid-area: 2/1/3/-1;
    height: 10px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 3vw;
}

#selector-lines .cream-line {
    border-bottom: 4px solid #fff1dd;
}

.selected {
    box-sizing: border-box;
    border: 3px solid #9d042d;
}

#carta .images {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(29, 1fr);
    grid-auto-flow: column;
}

#carta #thumbnails {
    grid-area: 1/-5/-1/-1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 3%;
}

#thumbnails img {
    border-radius: 5px;
    height: 13%;
}

#carta .images > img {
    grid-area: 1/1/-1/-6;
}

#caixa .images {
    width: 85%;
    margin: 0 auto;
}

#extras {
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.extra {
    padding: 3vw 0 7vw;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.item-name {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-name h2 {
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
}
.item-name p {
    font-size: 15px;
}

#end {
    margin: 0 auto;
    display: grid;
    width: 85%;
    height: 100vh;
    padding: 10px 0;

    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}

#end h3 {
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 2px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: -30px 0 40px;
    padding: 7px 15px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#end .button {
    margin: 10px 0 0;
}

.button span {
    font-size: 13px;
}

.button img {
    display: inline;
    filter: invert(100%) sepia(100%) saturate(300%) hue-rotate(180deg);
    height: 17px;
    width: 17px;
    overflow: visible;
}

.button:hover {
    background-color: #45a049;
}

#footer {
    text-align: center;
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 1009px) {
    .red-background {
        padding: 5vw 5vw;
        overflow: hidden;
    }
    .cream-background {
        padding: 5vw 5vw;
        overflow: hidden;
    }

    .description {
        padding-bottom: 50px;
    }
    .title {
        font-size: 50px;
    }
    .text {
        font-size: 20px;
    }
    .items {
        font-size: 18px;
    }

    .section {
        flex-direction: row;
        gap: 6vw;
        padding-bottom: 10vh;
    }

    #cover {
        height: 95vh;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(9, 1fr);
        

    }

    #flower1 {
        height: 20vw;
        width: 20vw;
        margin-top: -5vw;
        margin-left: -10vw;
        grid-area: 1/1/4/3;
    }
    #flower2 {
        height: 18vw;
        width: 18vw;
        margin-right: -10vw; /* Adjust margin if needed */
        margin-bottom: -8vw; /* Adjust margin if needed */
        grid-area: -4/2/-2/-1; /* Define grid area if needed */
    }

    #main-title {
        font-size: 7vw;
    }

    #dictionary {
        height: 30vh;
    }

    #dictionary h2 {
        font-size: 6vw;
    }
    #dictionary p {
        font-size: 2vw;
    }
    #dictionary div p {
        font-size: 5vw;
    }

    #caixote .images {
        width: 50%;
        display: grid;
        grid-template-rows: repeat(23, 1fr);
        grid-template-columns: repeat(29, 1fr);
        grid-auto-flow: column;
    }

    #caixote #thumbnails {
        gap: 3%;
    }

    #bolsa .images {
        width: 85%;
        margin: 0 auto;
    }

    #extras{
        padding: 5vw 0 0 0;
    }

    .extra{
        width: 20%;
        margin: 0 auto;
    }

    #end {
        margin: 0 auto;
        display: grid;
        width: 85%;
        height: 100vh;
        padding: 10px 0;

        font-family: "Courier Prime", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    #end h3 {
        font-size: 30px;
        padding-bottom: 2px;
    }

    #footer {
        padding: 5vh 0;
        font-size: 30px;
        justify-self: end;
        margin-bottom: -5vw;
    }
}
